.grid{
    width:200px;
    height:200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    background-color: aquamarine;
}
.grid div{
    width:20px;
    height:20px;

}

.snake{
    background-color: green;
}
.apple{
    background-color: red;
}